<!DOCTYPE html>
{% load i18n %}
<html>
<head>
    <title>{% blocktrans %}{{turkle_site_name}}{% endblocktrans %}</title>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load turkle_tags %}{% for tag in turkle_meta_tags %}{{ tag|meta_tag }}{% endfor %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link href="{% static "turkle/css/turkle.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "turkle/bootstrap-4.1.3/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "turkle/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        .input-design:focus {
        outline: none !important;
        box-shadow: none;
        }

        .input-design {
            outline: none !important;
            box-shadow: none;
        }

        a:link{
            text-decoration: none!important;
            cursor: pointer;
        }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
    {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
    </style>
</head>

{# This is shown to annotators, not for admin site #}

<body class="h-100" style="font-family: 'Iranian Sans', sans-serif;">
<div class="container-fluid mt-3">
<div class="d-flex justify-content-end align-items-start">
    <a href="{% url 'index' %}"><h4 class="mr-2 mb-md-5 d-inline return-link" style="color: #FF8602; text-decoration: none">{% trans "Return" %}</h4></a>
    <a href="{% url 'index' %}"><i class="fa fa-arrow-right mr-2 mt-2" style="color: #FF8602; font-size: large" aria-hidden="true"></i></a>
</div>

{% load turkle_tags %}
{% is_installed "consent" as consent_installed %}
{% if consent_installed %}
{% include "consent/banner.html" %}
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<div class="alert alert-error" role="alert">
  <h5 class="card-title" align="center">{{ error }}</h5>
</div>
{% endfor %}
{% endif %}

{% if next %}
  <h5 class="card-title" align="center">
  {% if user.is_authenticated %}
    {% trans "Your account doesn't have access to this page. To proceed,
    please login with an account that has access." %}
  {% else %}
    {% trans "Please login to see this page." %}
  {% endif %}
  </h5>
{% endif %}

<form class="container-fluid" style="margin-top: 7rem" method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <div class="row justify-content-center">
      <div class="col-md-3 py-5 px-3" style="border: 1px solid #ffffff; border-radius: 25px; box-shadow: 3px 3px 15px 3px rgba(203, 213, 225, 0.8);" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
        <h2 class="title d-flex justify-content-center align-items-center mb-md-5 text-black-78">{% trans "Login" %}</h2>
        <div class="panel panel-primary">
          <div class="form-group d-flex flex-column align-items-start m-4">
            <input type="text" name="username" id="username" placeholder="{% trans "username" %}" class="form-control d-flex flex-column align-items-start bg-transparent border-left-0 border-right-0 border-top-0 rounded-0 input-design" style="border-bottom: 1px solid rgba(0, 0, 0, 0.78)" required="required" autofocus>
          </div>
          <div class="form-group d-flex align-items-center m-4">
            <input type="password" name="password" id="password" placeholder="{% trans "password" %}" minlength="8" maxlength="20" class="form-control flex-grow-1 bg-transparent border-left-0 border-right-0 border-top-0 rounded-0" style="border-bottom: 1px solid rgba(0, 0, 0, 0.78)" required="required">
            <i class="fa fa-eye" id="togglePassword" aria-hidden="true" style="border-bottom: 1px solid rgba(0, 0, 0, 0.78);margin-top: 0.8rem; padding-bottom: 0.5rem"></i>
          </div>

          <div class="form-group d-flex justify-content-center text-center">
            <input type="submit" value="{% trans "Login" %}" class="btn form-control text-white w-50 mt-5 pt-2" style="background-color: #0F6CA5; border: 1px solid #0F6CA5; border-radius: 25px;font-size: 17px; height: 45px;{% if LANGUAGE_BIDI %}padding-bottom:0.9rem;{% else %}padding-bottom: 0.5rem;{% endif %}">
          </div>
          <div class="form-group d-flex justify-content-center">
            <a href="{% url 'sign_up' %}" style="color: #FF8601; font-size: 15px">{% trans "Sign Up" %}</a>
          </div>
        </div>
        {% if turkle_email_enabled %}
        <div>
          <a href="{% url 'password_reset' %}">{% trans "Reset your Password" %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  <input type="hidden" name="next" value="{{ next }}">
</form>
</div>
<script>
          const togglePassword = document.getElementById("togglePassword");
          const passwordInput = document.getElementById("password");

          togglePassword.addEventListener("click", function () {
            if (passwordInput.type === "password") {
              passwordInput.type = "text";
              togglePassword.classList.remove("fa-eye");
              togglePassword.classList.add("fa-eye-slash");
            } else {
              passwordInput.type = "password";
              togglePassword.classList.remove("fa-eye-slash");
              togglePassword.classList.add("fa-eye");
            }
          });
</script>
</body>
</html>
