{% extends "turkle/base.html" %}
{% load i18n static %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{# This is shown to annotators and for admin site #}
{% block body %}
<style>
    .button-hover:hover {
        background-color: #FFA500 !important;
        border-color: #FFA500 !important;
    }
</style>
<div>
  {% block content %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <div class="alert alert-error" role="alert">
      <h5 class="card-title" align="center">{{ error }}</h5>
    </div>
    {% endfor %}
  {% endif %}

  <form method="post" class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-3 mt-2" style="border: 1px solid white; border-radius: 20px; box-shadow:4px 4px 30px 4px rgba(69, 73, 106, 0.5); color: rgba(0, 0, 0, 0.78); direction: {% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
            <div class="py-3">
              {% csrf_token %}
              {% block content_title %}<h2 class="mt-2 mb-2 text-uppercase text-center" style="font-size: 1.5rem; color: #15006C">{{ title }}</h2>{% endblock %}
                <p class="text-center mt-5 mb-5 mr-3 ml-3" style="color: #0F6CA5">{% trans "Enter your current password and your new password twice for verification." %}</p>
                <div class="form-outline mb-1 {% if LANGUAGE_BIDI %}text-right{% else %}text-left{% endif %}">
                  {% for field in form %}
                  {% include 'registration/form_field.html' %}
                  {% endfor %}
                  {{ form.new_password1.help_text|safe }}
                  <div class="form-group text-center mt-2">
                    <input type="submit" id="showToastBtn" value="{% trans "change password" %}" class="btn form-control mt-4 button-hover" style="width: 45%; border-radius: 15px; font-size: 17px; height: 45px; background-color: #0F6CA5; color: white" />
                  </div>
                </div>
            </div>
        </div>
    </div>
  </form>
  {% endblock %}
</div>

{% endblock %}